# gitignore for MPLAB X projects
# https://microchipdeveloper.com/faq:72
# https://microchipdeveloper.com/mplabx:version-control-working-with#files2save

*.d
*.lst
*.map
*.o
*.obj
*.obj.dmp
*.p1
*.pre
*.sdb
*.sym

/build/
/dist/
/nbproject/*
!/nbproject/configurations.xml
!/nbproject/project.properties
!/nbproject/project.xml
